{% extends "GamePlay/basic_generic.html" %}

{% block content %}
    <div class="jumbotron text-center" style="margin-top:10%; background-color:#A0C8C5;">
      <h1 class="display-3">Got Cards? </h1>
      <p class="lead">Learn how to play card games using our interactive tutorials with strategic scenarios to help you dominate the rest.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg learn" href="#" role="button" style="background-color: #44CF6C; border: 0;">Learn a new card game</a>
      </p>
    </div>
{% endblock %}