{% extends "GamePlay/basic_generic.html" %}

{% block nav %}
    <li class="nav-item" style="color: #C42348;">
        <a class="nav-link selected" href="{% url 'gameplay:index' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link unselected" href="{% url 'gameplay:catalog' %}">Catalog</a>
    </li>
{% endblock %}

{% block content %}
    <div class="jumbotron text-center" style="margin-top:10%; background-color:#1EB9E5;">
      <h1 class="display-3" >Got Cards? </h1>
      <p class="lead">Learn how to play card games using our interactive tutorials with strategic scenarios to help you dominate the rest.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg learn" href="#" role="button" style="background-color: #35CE8D; border: 0;">Learn a new card game</a>
      </p>
    </div>
{% endblock %}