#catalog_heading {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    text-align: center;

}

.card_games {
    margin: 2.5%;
    background-color: #1EB9E5;
}
.selected{
  color:black;

}

.unselected{
  color: rgba(0,0,0,.5)

}

.info{

   margin:2%;
   background-color:#89EAC0;

}

.info-row{
    height:20%;
}

.card-title{
    color:#3D8BC7;
}

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;

}