#catalog_heading {
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    text-align: center;

}

.card_games {
    margin: 2.5%;
    background-color: #1EB9E5;
}

.navbar{
    background-color: #118AB2;
}
jumbotron {
    margin-top:25%;
}

.learn {
    background-color: #44CF6C;
    color:white;
}
.logo {
    color: #35CE8D;
}

#content{
    background-color:#08B2E3;
}

.selected{
  color:black;

}

.unselected{
  color: rgba(0,0,0,.5)

}

